.wind-map-container {
  opacity: 1;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 900px;
  z-index: 99;
  pointer-events: none;
}

body {
  background-color: #1F2C3F;
  padding: 0px;
  margin: 0px;
  font-family: 'Roboto', sans-serif;
}

#mapbox_map {
  width: 100%;
  height: 100vh;
}

.mapbox-map-container {
  top: 0px;
  position: fixed;
  width: 100%;
  height: 100%;
}

.geocoder {
  position: absolute;
  z-index: 1;
  width: 250px;
  left: 20px;
  top: 20px;
  color: #E5E8EA;
}

.mapboxgl-ctrl-geocoder {
  min-width: 100%;
  background-color: #114059;
}

.mapboxgl-ctrl-geocoder input {
  color: #E5E8EA;
}

.mapboxgl-ctrl-geocoder--button {
  background-color: transparent;
}

.mapboxgl-ctrl-geocoder svg path {
  fill: #E5E8EA;
}

.mapboxgl-ctrl-geocoder--input {
  color: #E5E8EA !important;
}

.suggestions-wrapper a {
  background-color: #232A3E;
  color: #E5E8EA !important;
}

.suggestions-wrapper a {
  background-color: #114059;
  color: #E5E8EA !important;
}

.suggestions-wrapper a:hover {
  background-color: #232A3E !important;
  color: #E5E8EA !important;
}

.suggestions-wrapper .active a {
  background-color: #232A3E !important;
  color: #E5E8EA !important;
}